<% layout('layouts/boilerplate') %>

    <div class="card mb-5">
        <h2 class="card-header">
            Job Number :<%= clientTest2.jobNumber %>
        </h2>
        <div class="card-body">

            <p class="card-text">
            <p class="card-text"> NSL Number : <%= clientTest2.nslNumber %>
            </p>
            <p class="card-text">Total Number Of Sample : <%= clientTest2.totalNumberOfSample %>
            </p>
            <p class="card-text">Type Of Sample : <%= clientTest2.typeOfSample %>
            </p>
            <p class="card-text">Recipient : <%= clientTest2.recipipent %>
            </p>
            <p class="card-text">Resiponsibility : <%= clientTest2.resiponsibili %>
            </p>
            <p class="card-text">Test Type : <%= clientTest2.testType %>
            </p>
            </p>
        </div>
    </div>
    <a class="btn  btn-dark  mb-3" href="/allClient" role="button"> Add test </a>